body {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: #000;
}
.active {
  color: #FFC542;
}
h1,h2,h4,h5 {
  color: #fff;
  
}
.slideshowItem div:hover {
  box-shadow: 12px 13px 4px rgba(24, 89, 81, 0.95);
  transition: 0.5s ease;
}
.footerMobile {
  display: flex;
  flex-direction: column;
}
.footerDesktop {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.dropdownActive {
  display: block;
}
.dropdownInactive {
  display: none;
}
